<!DOCTYPE html>
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<HTML>
<HEAD>
    <TITLE> ZTREE DEMO </TITLE>
    @*<link href="~/demo.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <link href="~/metroStyle/metroStyle.css" rel="stylesheet" />
    <link href="~/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
 <script src="~/Scripts/jquery.ztree.core.js"></script>
    <link href="~/demo.css" rel="stylesheet" />
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>

    <SCRIPT>

        var bloc = 0;
        $(function () {

        
          
            //$("#AddBtn").click(function () {
            //    alert(0);
            //    layer.open({
            //        type: 1,
            //        area: ['700px', '500px0'],


            //        fix: false, //不固定
            //        maxmin: true,
            //        shade: 0.7,

            //        title: '添加用户',
            //        content: $('#AddUser')
            //    });
            //})

           
        })
        function Delete(EmployeeID, obj)
        {
        
            $.ajax({
                url: 'http://localhost:8098/DongXu/DeleteEmployee?EmployeeID=' + EmployeeID,
                type: 'get',
                
                success: function (data) {
                    if (data > 0) {
                        $(".messageBox").removeClass("messageError").text("删除成功").css("margin-left", -($(".messageBox").outerWidth() / 2)).animate({ top: 0 }, "fast").delay(1500).animate({ top: "-57px" }, "fast");
                        location.href = "/Employee/Index";

                      
                        location.href ='/Employee/Index';
                    }
                    else {
                      
                     
                    }
                }
            })
        }
        function Get() {
            $.ajax({
            url: 'http://localhost:8098/DongXu/GetEmployee',
                    type: 'get',

                    })
                 
        }
        //页头下拉提示框
        
        function abc() {
            layer.open({
                type: 1,
                area: ['700px', '500px'],


                fix: false, //不固定
                maxmin: true,
                shade: 0.1,

                title: '添加用户',
                content: $('#AddUser')

            });
           
        }

        //var zTreeObj;
        //var setting = {};        // zTree 的参数配置，后面详解
        function zTreeOnClick(event, treeId, treeNode) {
            if (treeNode.level == 4) {
                $("#btn").append("<input onclick='abc()' type=\"button\" value=\"添加用户\" id='AddBtn' style=\"background - color: #f7f7f7; width: 60px; height: 30px; border - color: black; border - width: 1px;\" />");
                $("#btn").children().not(":first").remove();
            }
            else {
                $("#btn").empty();
            }
            bloc = treeNode.id;
            
            $.ajax(
                {
                    url: 'http://localhost:8098/DongXu/GetEmloyeeById?BlocId=' + treeNode.id,
                    type: 'get',

                    success: function (data) {

                        $("#Tab").children().children().next().remove();
                        $(data).each(function (index, data) {

                            var str = "<tr>"

                            str += "<td>" + data.EmpNickName + "</td>"
                            str += "<td>" + data.EmployeeName + "</td>"


                            str += "<td><a href='#'onclick=Delete(" + data.EmployeeID + ",this)>删除</a></td>"
                            str += "</tr>"
                            $("#Tab").append(str);
                            
                        })

                    }
                })
            
            $("input[name=name]").val(treeNode.name);

            $("input[name=pId]").val(treeNode.name);


            //alert(treeNode.tId + ", " + treeNode.name);
        };
        var setting = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pId",
                    rootPId: 0
                }
            },
            callback: {
                onClick: zTreeOnClick
            }
        };



        //];
        var zNodes = [];

        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:8098/Bloc/GetBloc",
                success: function (data) {
                    zNodes = data;
                    zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes); //初始化zTree，三个参数一次分别是容器(zTree 的容器 className 别忘了设置为 "ztree")、参数配置、数据源

                }

            });


        });

        function addDiyDom(treeId, treeNode) {
            var spaceWidth = 5;
            var switchObj = $("#" + treeNode.tId + "_switch"),
                icoObj = $("#" + treeNode.tId + "_ico");
            switchObj.remove();
            icoObj.before(switchObj);

            if (treeNode.level > 1) {
                var spaceStr = "<span style='display: inline-block;width:" + (spaceWidth * treeNode.level) + "px'></span>";
                switchObj.before(spaceStr);
            }
        }

        function Adduser() {
           
            var ps = $("input[name=EmployeePwd]").val();

            $.ajax(
                {
                    url: '/Employee/GetMd5Str',
                    data: {
                        EmployeePwd: ps
                    },
                    type: 'post',
                    success: function (data) {

                        $.ajax({
                            url: 'http://localhost:8098/DongXu/AddEmployee',
                            type: 'post',
                            data: {
                                BlocId:bloc,
                                EmpNickName: $("input[name=EmpNickName]").val(),
                                EmployeeName: $("input[name=EmployeeName]").val(),
                                EmployeePwd: data,
                            },

                            success: function (data) {

                                if (data > 0) {

                                    $(".messageBox").removeClass("messageError").text("添加成功").css("margin-left", -($(".messageBox").outerWidth() / 2)).animate({ top: 0 }, "fast").delay(1500).animate({ top: "-57px" }, "fast");
                                    location.href = "/Employee/Index";



                                    // location.href = '/employee/Index';
                                }
                                else {
                                    $(".messageBox").addClass("messageError").text("该用户已存在").css("margin-left", -($(".messageBox").outerWidth() / 2)).animate({ top: 0 }, "fast").delay(1500).animate({ top: "-57px" }, "fast");

                                    // alert("该用户已存在");
                                }

                            }
                        })
                    }
                })


        }

    </SCRIPT>
    <style>
        .ztree li span.button.add {
            margin-right: 2px;
            background-position: -144px 0;
            vertical-align: top;
            *vertical-align: middle
        }
        /*顶部下拉信息提示框*/
        .messageBox {
            height: 52px;
            padding: 0 53px 0 78px;
            line-height: 52px;
            background: url(../../image/img-set1.png) -441px -613px #ffffe7 no-repeat;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            position: fixed;
            top: -60px;
            left: 50%;
            border: 5px solid #ddd;
            border-top: 0;
            color: #444;
            font-size: 18px;
            z-index: 9999;
        }

        .messageError {
            background-position: -441px -673px;
        }

        .ztree * {
            /*color: blue;*/
            font-size: 10pt;
            font-family: "Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial
        }

        .ztree li {
            line-height: 20px;
        }

            .ztree li a {
                width: 200px;
                height: 30px;
                padding-top: 0px;
            }

                .ztree li a:hover {
                    text-decoration: none;
                    background-color: #E7E7E7;
                }

                .ztree li a span.button.switch {
                    visibility: hidden
                }

                .ztree li a.curSelectedNode {
                    background-color: #D4D4D4;
                    border: 0;
                    height: 30px;
                }
    </style>
</HEAD>
<BODY>


    <div>


        <h6 style="float:left">您当前的位置:系统管理>>岗位管理</h6>

        <ul id="treeDemo" class="ztree" style="height:500px;border:1px solid #ffffff;float:left; background-color:#f7f7f7"></ul>
        <table style="float:left;margin-right:50px;margin-right:60px;border-collapse:separate; border-spacing:0px 50px;">
            <tr style="margin-left:600px">
                <td>
                    &nbsp;  &nbsp; &nbsp; &nbsp;岗位名称：
                </td>
                <td>
                    <input type="text" name="pId" style="border:0px">
                </td>
                @*<td>
                    岗位名称：
                </td>
                <td>
                    <input type="text" name="name" style="border:0px" />
                </td>*@
            </tr>

        </table>
        <table style="margin-top:70px;border-collapse:separate;border-spacing:0px 100px;width:40px;">
            <tr>
                <td id="btn" style="height:30px">
                    @*<input type="button" value="添加用户" id="AddBtn" style="background-color:#f7f7f7;width:60px;height:30px ;border-color:black;border-width:1px;" />*@
                </td>
            </tr>
        </table>

       
        <table style="margin-left:60px;margin-top:-60px; border-collapse:separate;border-spacing:150px 10px;width:1000px;background-color:black;color:white" id="Tab">

            <tr>

                <td>
                    用户姓名
                </td>
                <td>
                    用户账号
                </td>
                <td>
                    操作
                </td>
            </tr>
        </table>

    </div>

    <div id="AddUser" style="display:none">
        <input type="hidden" name="BlocId" />
        <table id="Tab" style=" margin-right:80px;border-collapse:separate; border-spacing:110px 50px;">


            <tr>
                <td>
                    员工姓名
                </td>
                <td>
                    <input type="text" name="EmpNickName" />

                </td>
            </tr>
            <tr>
                <td>
                    员工账号
                </td>
                <td>
                    <input type="text" name="EmployeeName" />
                </td>
            </tr>
            <tr>
                <td>
                    员工密码
                </td>
                <td>
                    <input type="password" name="EmployeePwd" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="addu" value="添加用户" onclick="Adduser()"  style="background-color:#f7f7f7;width:60px;height:30px ;border-color:black;border-width:1px;margin-left:150px;" />
                </td>
            </tr>
        </table>

    </div>
    <!-- 通用提示框 -->
    <div class="messageBox"></div>
</BODY>
</HTML>