
@{
    Layout = "~/Views/Shared/_TestLayout.cshtml"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <link href="~/Content/layui.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <div>
            
        </div>
        <div>
            <table class="layui-table">

            </table>
        </div>
    </div>
</body>
</html>
