<!DOCTYPE html>
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<HTML>
<HEAD>
    <TITLE> ZTREE DEMO </TITLE>
    @*<link href="~/demo.css" rel="stylesheet" />*@
    <link href="~/metroStyle/metroStyle.css" rel="stylesheet" />
    <link href="~/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/demo.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery.ztree.core.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/MessageBox.js"></script>
    <script src="~/Scripts/MessageBox.js"></script>
    <SCRIPT>

        var bloc = 0;
        $(function () {

            GetNum();
            GetType();
            GetNum();

        })
        function Delete(EmployeeID, obj) {

            $.ajax({
                url: 'http://localhost:8098/DongXu/DeleteEmployee?EmployeeID=' + EmployeeID,
                type: 'get',

                success: function (data) {
                    if (data > 0) {

                        showmessagebox(true,"添加成功")
                        setTimeout("window.location.href='/Employee/Index'", 1500);


                      
                    }
                    else {
                        showmessagebox(false, "该用户已存在");

                    }
                }
            })
        }
      

        function Show() {
            $.ajax({
                url: 'http://localhost:8098/DongXu/GetRoles',
                type: 'get',
                success: function (data) {
                    $(":checkbox").remove();
                    $(".span").remove();
                    $(data).each(function (index, data) {
                        var str = '<input type="checkbox"  name="RoleID" value="' + data.RoleID + '" /><span class="span">' + data.RoleName + '</span>'
                        $("#check").append(str);
                    })
                }
            })
        }
        //页头下拉提示框
        function GetNum() {
            $.ajax({
                url: 'http://localhost:8098/Dongxu/GetNum',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#s2").append("<option value='" + data.Id + "'>" + data.FeedbackName + "</option>")
                    })
                }
            })
        }
        function Getbloc() {
            $.ajax({
                url: 'http://localhost:8098/Bloc/GetBloc',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#b1").append("<option  value='" + data.id + "'>" + data.name + "</option>")
                    })
                }
            })
        }
        function GetType() {
            $.ajax(
                {
                    url: 'http://localhost:8098/DongXu/GetTarGetTypes',
                    type: 'get',
                    success: function (data) {
                        $(data).each(function (index, data) {
                            $("#t1").append("<option  value='" + data.IndexTypeId + "'>" + data.TarGetTypeName + "</option>")
                        })
                    }
                })
        }
        function abc() {
            Show();
            layer.open({
                type: 1,
                area: ['700px', '500px'],


                fix: false, //不固定
                maxmin: true,
                shade: 0.1,

                title: '添加用户',
                content: $('#AddUser')

            });

        }
        //修改模态窗
        //function abc() {
        //    Show();
        //    layer.open({
        //        type: 1,
        //        area: ['700px', '500px'],


        //        fix: false, //不固定
        //        maxmin: true,
        //        shade: 0.1,

        //        title: '添加用户',
        //        content: $('#AddUser')

        //    });

        //}

        //var zTreeObj;
        //var setting = {};        // zTree 的参数配置，后面详解
        function zTreeOnClick(event, treeId, treeNode) {
            if (treeNode.level == 4) {
                $("#btn").append("<input onclick='abc()' type=\"button\" value=\"添加用户\" id='AddBtn' style=\"background - color: #f7f7f7; width: 60px; height: 30px; border - color: black; border - width: 1px;\" />");
                $("#btn").children().not(":first").remove();
            }
            else {
                $("#btn").empty();
            }
            bloc = treeNode.id;

            $.ajax(
                {
                    url: 'http://localhost:8098/DongXu/GetEmloyeeById?BlocId=' + treeNode.id,
                    type: 'get',

                    success: function (data) {

                        $("#Tab").children().children().next().remove();
                        $(data).each(function (index, data) {

                            var str = "<tr>"

                            str += "<td>" + data.EmpNickName + "</td>"
                            str += "<td>" + data.EmployeeName + "</td>"


                            str += "<td><a href='#'onclick=Delete(" + data.EmployeeID + ",this)>删除</a></td>"
                            //str += "<td><a href='#'onclick=abc()>修改</a></td>"
                            str += "</tr>"
                            $("#Tab").append(str);

                        })

                    }
                })

            $("input[name=name]").val(treeNode.name);

            $("input[name=pId]").val(treeNode.name);


            //alert(treeNode.tId + ", " + treeNode.name);
        };
        var setting = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pId",
                    rootPId: 0
                }
            },
            callback: {
                onClick: zTreeOnClick
            }
        };



        //];
        var zNodes = [];

        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:8098/Bloc/GetBloc",
                success: function (data) {
                    zNodes = data;
                    zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes); //初始化zTree，三个参数一次分别是容器(zTree 的容器 className 别忘了设置为 "ztree")、参数配置、数据源

                }

            });


        });

        function addDiyDom(treeId, treeNode) {
            var spaceWidth = 5;
            var switchObj = $("#" + treeNode.tId + "_switch"),
                icoObj = $("#" + treeNode.tId + "_ico");
            switchObj.remove();
            icoObj.before(switchObj);

            if (treeNode.level > 1) {
                var spaceStr = "<span style='display: inline-block;width:" + (spaceWidth * treeNode.level) + "px'></span>";
                switchObj.before(spaceStr);
            }
        }

        function Adduser() {
            //员工名称非空验证
            if ($("input[name=EmpNickName]").val().trim().length <= 0) {
                alert("员工名称不能为空");
                return;
            }
            //员工账号非空验证
            if ($("input[name=EmployeeName]").val().trim().length <= 0) {
                alert("员工账号不能为空");
                return;
            }
            if ($("input[name=EmployeePwd]").val().trim().length <= 0) {
                alert("员工密码不能为空");
                return;
            }
            //角色非空验证
            var textbox = document.getElementsByName("RoleID");
            for (i = 0; i < textbox.length; i++) {
                if (!textbox[i].checked) {
                    if (i == textbox.length - 1) {
                        return alert('至少选择一个角色!');
                    }
                }
                else {
                    break;
                }
            }
            var pwd = $("input[name=EmployeePwd]").val();
            var ids = [];
            $("input[name=RoleID]:checked").each(function () {
                ids.push($(this).val())
            })

            $.ajax({
                url: 'http://localhost:8098/DongXu/AddEmployee',
                type: 'post',
                data: {
                    BlocId: bloc,
                    EmpNickName: $("input[name=EmpNickName]").val(),
                    EmployeeName: $("input[name=EmployeeName]").val(),
                    EmployeePwd: pwd,
                    'RoleID': ids.join(','),
                },
                success: function (data) {
                    //if (data > 0) {

                    //    $(".messageBox").removeClass("messageError").text("添加成功").css("mafrgin-left", -($(".messageBox").outerWidth() / 2)).animate({ top: 0 }, "fast").delay(1500).animate({ top: "-57px" }, "fast");
                    //    // location.href = '/employee/Index';
                    //}
                    //else {
                    //    $(".messageBox").addClass("messageError").text("该用户已存在").css("margin-left", -($(".messageBox").outerWidth() / 2)).animate({ top: 0 }, "fast").delay(1500).animate({ top: "-57px" }, "fast");
                    //    // alert("该用户已存在");
                    //}

                    if (data > 0) {

                        showmessagebox(true,"添加成功");
                        // location.href = '/employee/Index';
                        setTimeout("window.location.href=''/employee/Index'", 1500);
                    }
                    else {
                        showmessagebox(false, "该用户已存在");
                    }
                   
                }
            })
        }
    </SCRIPT>

</HEAD>
<BODY>


    <div>


        <h6 style="float:left">您当前的位置:系统管理>>岗位管理</h6>

        <ul id="treeDemo" class="ztree" style="height:500px;border:1px solid #ffffff;float:left; background-color:#f7f7f7"></ul>
        <table style="float:left;margin-right:50px;margin-right:60px;border-collapse:separate; border-spacing:0px 50px;">
            <tr style="margin-left:600px">
                <td>
                    &nbsp;  &nbsp; &nbsp; &nbsp;岗位名称：
                </td>
                <td>
                    <input type="text" name="pId" style="border:0px">
                </td>
                @*<td>
                        岗位名称：
                    </td>
                    <td>
                        <input type="text" name="name" style="border:0px" />
                    </td>*@
            </tr>

        </table>
        <table style="margin-top:70px;border-collapse:separate;border-spacing:0px 100px;width:40px;">
            <tr>
                <td id="btn" style="height:30px">
                    @*<input type="button" value="添加用户" id="AddBtn" style="background-color:#f7f7f7;width:60px;height:30px ;border-color:black;border-width:1px;" />*@
                </td>
            </tr>
        </table>


        <table style="margin-left:60px;margin-top:-60px; border-collapse:separate;border-spacing:150px 10px;width:1000px;background-color:black;color:white" id="Tab">

            <tr>

                <td>
                    用户姓名
                </td>
                <td>
                    用户账号
                </td>
                <td>
                    操作
                </td>
            </tr>
        </table>

    </div>

    <div id="AddUser" style="display:none">
        <input type="hidden" name="BlocId" />
        <table id="Tab" style=" margin-right:80px;border-collapse:separate; border-spacing:110px 50px;">


            <tr>
                <td>
                    员工姓名
                </td>
                <td>
                    <input type="text" name="EmpNickName" />

                </td>
            </tr>
            <tr>
                <td>
                    员工账号
                </td>
                <td>
                    <input type="text" name="EmployeeName" />
                </td>
            </tr>
            <tr>
                <td>
                    员工密码
                </td>
                <td>
                    <input type="password" name="EmployeePwd" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>角色</span>
                </td>
                <td id="check"></td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="addu" value="添加用户" onclick="Adduser()" style="background-color:#f7f7f7;width:60px;height:30px ;border-color:black;border-width:1px;margin-left:150px;" />
                </td>
            </tr>
        </table>
    </div>

    <div id="AddUser" style="display:none">
        <input type="hidden" name="BlocId" />
        <table id="Tab" style=" margin-right:80px;border-collapse:separate; border-spacing:110px 50px;">


            <tr>
                <td>
                    员工姓名
                </td>
                <td>
                    <input type="text" name="EmpNickName" />

                </td>
            </tr>
            <tr>
                <td>
                    员工账号
                </td>
                <td>
                    <input type="text" name="EmployeeName" />
                </td>
            </tr>
            <tr>
                <td>
                    员工密码
                </td>
                <td>
                    <input type="password" name="EmployeePwd" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>角色</span>
                </td>
                <td id="check"></td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="updateu" value="修改用户" onclick="updateuser()" style="background-color:#f7f7f7;width:60px;height:30px ;border-color:black;border-width:1px;margin-left:150px;" />
                </td>
            </tr>
        </table>

    </div>
    <!-- 通用提示框 -->
    <div class="messageBox"></div>
</BODY>
</HTML>