@{
    ViewBag.Title = "Target";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/css/operation.css" rel="stylesheet" />

    <script src="~/Content/jquery-3.1.1.js"></script>
    <script src="~/Scripts/layer/2.4/layer.js"></script>
    <script src="~/Content/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/echarts.js"></script>
    <script>
        
        var app = {};
        option = null;
        var pieData = [];
        var stateid=0;
        var pageindex = 1;
        var pagecount;
        var pay = 1;
        $(function () {
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            showdata();
            //加载类别
            $.ajax({
                url: "http://localhost:8098/DongXu/GetTarGetTypes",
                type: "get",
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("select[name=targettypename]").append("<option>" + data.TarGetTypeName + "</option>");
                    })
                }
            })
            //加载运行情况
            $.ajax({
                url: "http://localhost:8098/DongXu/GetRunnings",
                type: "get",
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#showrunning").append("<tr><td>" + data.Name + "</td><td>" + data.Numberids + "</td><td>" + data.Per + "%</td></tr>");
                        pieData.push({ value: data.Numberids, name: data.Name });
                        console.log(pieData.length);                       
                    })
                    option = {
                        title: {
                            text: '目标运行情况',
                            x: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left',
                            data: pieData.map(function (item) {
                                return item.name;
                            })
                        },
                        series: [
                            {
                                name: '目标情况',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: pieData,
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }
                }
            })
            //模糊查询
            $("#search").click(function () {
                showdata();
            })
            //根据状态显示目标数据
            $(".state").click(function () {
                stateid = $(this).data("value");
                showdataBystateid(stateid);
            })
        })
        //加载目标信息
        function showdata() {
            $.ajax({
                url: "http://localhost:8098/DongXu/GetTargetDetails",
                type: "get",
                async: false,
                data: {
                    pageindex: pageindex,
                    TargetName: $("input[name=TargetName]").val(),
                    IndexLevelId: $("select[name=IndexLevelId]").val(),
                    targettypename: $("select[name=targettypename]").val(),
                    BlocName: $("input[name=BlocName]").val(),
                    DutyMan: $("input[name=DutyMan]").val(),
                },
                success: function (data) {

                    pageindex = data.PageIndex;
                    pagecount = data.PageCount;
                    var j = 1;
                    $("#showdata tr:not(:first)").empty("");
                    for (var i = 0; i < data.Data.length; i++) {
                        $("#showdata").append("<tr><td>" + data.Data[i].Id + "</td><td><a style='color:skyblue;' href=\"/Schedule/ShowTargetbyID?id=" + data.Data[i].Id + "\">" + data.Data[i].TargetName + "</a></td><td>" + data.Data[i].BlocName + "</td><td>" + data.Data[i].DutyMan + "</td><td>" + data.Data[i].FinishTime.substring(0, 10) + "</td><td><div class='layui-progress' lay-showpercent='true'><div style='width:" + data.Data[i].AnnualTarget + "' class='layui-progress-bar' lay-percent='" + data.Data[i].AnnualTarget + "'><span class='layui-progress-text'>" + data.Data[i].AnnualTarget + "</span></div></div></td><td><img src=\"/image/" + data.Data[i].StatusImage + "\" /></td></tr>");
                        j++;
                    }
                }
            })
        }
        //根据状态显示目标数据
        function showdataBystateid(stateid) {
            pay = 2;
            $.ajax({
                url: "http://localhost:8098/DongXu/GetTargetDetailsByStatuId",
                type: "get",
                async: false,
                data: {
                    pageindex: pageindex,
                    stateid: stateid
                },
                success: function (data) {
                    pageindex = data.PageIndex;
                    pagecount = data.PageCount;
                    var j = 1;
                    $("#showdata tr:not(:first)").empty("");
                    for (var i = 0; i < data.Data.length; i++) {
                        $("#showdata").append("<tr><td>" + data.Data[i].Id + "</td><td><a style='color:skyblue;' href=\"/Schedule/ShowTargetbyID?id=" + data.Data[i].Id + "\">" + data.Data[i].TargetName + "</a></td><td>" + data.Data[i].BlocName + "</td><td>" + data.Data[i].DutyMan + "</td><td>" + data.Data[i].FinishTime.substring(0, 10) + "</td><td><div class='layui-progress' lay-showpercent='true'><div style='width:" + data.Data[i].AnnualTarget + "' class='layui-progress-bar' lay-percent='" + data.Data[i].AnnualTarget + "'><span class='layui-progress-text'>" + data.Data[i].AnnualTarget + "</span></div></div></td><td><img src=\"/image/" + data.Data[i].StatusImage + "\" /></td></tr>");
                        j++;
                    }
                }
            })
        }
        //首页
        function FirstPage() {
            if (pay == 1) {
                pageindex = 1;
                showdata();
            } else {
                pageindex = 1;
                showdataBystateid(stateid);
            }
        }
        //尾页
        function LastPage() {           
            if (pay == 1) {
                pageindex = pagecount;
                showdata();
            } else {
                pageindex = pagecount;
                showdataBystateid(stateid);
            }
        }
        //上一页
        function PrevPage() {           
            if (pay == 1) {
                if (pageindex - 1 <= 0) {
                    alert("已经是第一页了");
                    return;
                } else {
                    pageindex--;
                    showdata();
                }
            } else {
                if (pageindex - 1 <= 0) {
                    alert("已经是第一页了");
                    return;
                } else {
                    pageindex--;
                    showdataBystateid(stateid);
                }
            }
        }
        //下一页
        function NextPage() {           
            if (pay == 1) {
                if (pageindex + 1 > pagecount) {
                    alert("已经是最后一页了");
                    return;
                } else {
                    pageindex++;
                    showdata();
                }
            } else {                
                if (pageindex + 1 > pagecount) {
                    alert("已经是最后一页了");
                    return;
                } else {
                    pageindex++;
                    showdataBystateid(stateid);
                }
            }
        }
    </script>
</head>
<body>
    <h6>您当前的位置:进度查询>>目标查询</h6>
    <table id="tab">
        <tr>
            <td>
                目标名称:<input type="text" name="TargetName" />
                目标类别:
                <select v-show="GetTarGetTypesList.length" name="targettypename">
                    <option value=" ">--全部--</option>
                </select>目标级别:
                <select name="IndexLevelId">
                    <option value=" ">全部</option>
                    <option value="A">A</option>
                    <option value="AA">AA</option>
                    <option value="AAA">AAA</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                责任部门:
                <input type="text" name="BlocName" />
                责任人:
                <input type="text" name="DutyMan" />
                完成时间:
                <input type="date" name="name" />
                -至-
                <input type="date" name="name" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="search" class="layui-btn layui-btn-danger" name="name" value="查询" onclick="showdata()" />

            </td>
        </tr>
    </table>
    <div class="echart">
        <h4>运行情况</h4>
        <div>
            <div class="echart_left">
                <div id="container" style="height: 100%"></div>
                <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
                <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
                <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
                <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
                <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
                <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
                <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
                <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
                <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
            </div>
            <div class="echart_right">
                <table id="showrunning" class="layui-table" style="text-align:center;">
                    <tr style="background-color:#ccc;">
                        <th>目标状态</th>
                        <th>数量</th>
                        <th>比例</th>
                    </tr>
                </table>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <ul class="btnbox2">
        <li><a class="state" data-value="2" href="#">未完成</a></li>
        <li><a class="state" data-value="1" href="#">正常推进</a></li>
        <li><a class="state" data-value="3" href="#">延期</a></li>
        <div style="clear:both;"></div>
    </ul>
    <table class="layui-table" id="showdata" v-show="GetTargetDetailsList.length" style="text-align:center;">
        <tr>
            <th>序号</th>
            <th>目标名称</th>
            <th>责任部门</th>
            <th>责任人</th>
            <th>完成时间</th>
            <th>进度</th>
            <th>状态</th>
        </tr>

    </table>
    <div class="btnbox">
        <button class="layui-btn layui-btn-normal" onclick="FirstPage()">首页</button>
        <button class="layui-btn layui-btn-normal" onclick="PrevPage()">上一页</button>
        <button class="layui-btn layui-btn-normal" onclick="NextPage()">下一页</button>
        <button class="layui-btn layui-btn-normal" onclick="LastPage()">尾页</button>
    </div>
</body>
</html>
<script>
    layui.use('element', function () {
        // var $ = layui.jquery, element = layui.element;
        //Tab的切换功能，切换事件监听等，需要依赖element模块
    });
</script>
