
@{
    ViewBag.Title = "Target";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layer/2.4/layer.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Content/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/Content/jquery-3.1.1.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: "http://localhost:8098/DongXu/GetTargetDetails",
                type: "get",
                success: function (data) {
                    var i = 1;
                    $(data).each(function (index, data) {
                        $("#showdata").append("<tr><td>" + i + "</td><td>" + data.TargetName + "</td><td>" + data.IndexLevelId + "</td><td>" + data.targettypename + "</td><td>" + data.BlocName + "</td><td>" + data.DutyMan + "</td><td>" + data.FinishTime.substring(0, 10) + "</td><td><div class=\"layui-progress\" lay-showpercent=\"true\"><div class=\"layui-progress-bar\" lay-percent='" + data.AnnualTarget + "' ></div ></div ></td><td><img src=\"~/image/" + data.StatusImage + "\" /></td></tr>");
                        i++;
                    })

                }
            })
        })
    </script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        h6 {
            padding: 0 30px;
            font-size: 12px;
            height: 24px;
            line-height: 24px;
        }

        h5 {
            margin: 0 30px;
            margin-top: 20px;
            border: 1px solid #ccc;
            font-size: 14px;
            height: 24px;
            line-height: 24px;
        }

        #tab {
            width: 96%;
            margin: 0 30px;
            border: 1px solid #ccc;
        }

        input, select {
            width: 200px;
            height: 30px;
        }

        td {
            border-bottom: 1px dashed #ccc;
            height: 36px;
        }

        #derive {
            margin-left: 80%;
            width: 100px;
            height: 30px;
            text-align: center;
            line-height: 20px;
        }

        #search {
            width: 100px;
            height: 30px;
            text-align: center;
            line-height: 20px;
        }

        #showdata {
            width: 96%;
            margin: 0 30px;
            border: 1px solid #ccc;
        }
    </style>
    <script>

    </script>
</head>
<body>
    <h6>您当前的位置:进度查询>>目标查询</h6>
    <table id="tab">
        <tr>
            <td>
                目标名称:<input type="text" name="name" value="" />
                目标类别:
                <select v-show="GetTarGetTypesList.length" >
                    <option value="value">--全部--</option>
                    <option v-for="(item,index) in GetTarGetTypesList">{{item.TarGetTypeName}}</option>
                </select>目标级别:
                <select>
                    <option value="0">全部</option>
                    <option value="1">A</option>
                    <option value="2">AA</option>
                    <option value="3">AAA</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                责任部门:
                <input type="text" name="DutyUnitId" value="" />
                责任人:
                <input type="text" name="name" value="" />
                完成时间:
                <input type="date" name="name" value="" />
                -至-
                <input type="date" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="derive" class="layui-btn layui-btn-warm" name="name" value="导出" />
                <input type="button" id="search" class="layui-btn layui-btn-danger" name="name" value="查询" />
            </td>
        </tr>
    </table>
    <h5>目标列表</h5>
    <table class="layui-table" id="showdata" v-show="GetTargetDetailsList.length" style="text-align:center;">
        <tr>
            <th>序号</th>
            <th>目标名称</th>
            <th>级别</th>
            <th>类别</th>
            <th>责任部门</th>
            <th>责任人</th>
            <th>完成时间</th>
            <th>进度</th>
            <th>状态</th>
        </tr>
        @*<tr v-for="(item,index) in GetTargetDetailsList">
            <td>{{item.Id}}</td>
            <td>{{item.TargetName}}</td>
            <td>{{item.IndexLevelId}}</td>
            <td>{{item.targettypename}}</td>
            <td>{{item.BlocName}}</td>
            <td>{{item.DutyMan}}</td>
            <td>{{item.FinishTime.substring(0,10)}}</td>
            <td>
            <div class="layui-progress" lay-showpercent="true">
                    <div class="layui-progress-bar" lay-percent="30%"></div>
            </div>
            </td>
            <td>
                <img src="~/image/green.png" />
            </td>
        </tr>*@
    </table>
    <div id="demo7"></div>
</body>
</html>
<script>
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;
        laypage.render({
            elem: 'demo7'
            , count: 100
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , jump: function (obj) {
                console.log(obj)
            }
        });
    });
    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            setPercent: function () {
                //设置50%进度
                element.progress('demo', '50%')
            }
            , loading: function (othis) {
                var DISABLED = 'layui-btn-disabled';
                if (othis.hasClass(DISABLED)) return;

                //模拟loading
                var n = 0, timer = setInterval(function () {
                    n = n + Math.random() * 10 | 0;
                    if (n > 100) {
                        n = 100;
                        clearInterval(timer);
                        othis.removeClass(DISABLED);
                    }
                    element.progress('demo', n + '%');
                }, 300 + Math.random() * 1000);

                othis.addClass(DISABLED);
            }
        };

        $('.site-demo-active').on('click', function () {
            var othis = $(this), type = $(this).data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
    var ve = new Vue({
        el: "#tab",
        data: {
            GetTarGetTypesList: []
        },
        mounted() {
            this.GetTarGetTypes();
        },
        methods: {
            //加载目标类别
            GetTarGetTypes: function () {
                axios.get('http://localhost:8098/DongXu/GetTarGetTypes').then(
                    (response) => {
                        this.GetTarGetTypesList = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.GetTarGetTypesList.push(response.data[i]);
                        }
                        console.log(this.GetTarGetTypesList);
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            }
        }
    });
    //var ve2 = new Vue({
    //    el: "#showdata",
    //    data: {
    //        GetTargetDetailsList: []
    //    },
    //    mounted() {
    //        this.GetTargetDetails();
    //    },
    //    methods: {
    //        //加载目标
    //        GetTargetDetails: function () {
    //            axios.get('http://localhost:8098/DongXu/GetTargetDetails').then(
    //                (response) => {
    //                    this.GetTargetDetailsList = [];
    //                    for (var i = 0; i < response.data.length; i++) {
    //                        this.GetTargetDetailsList.push(response.data[i]);
    //                    }
    //                    console.log(this.GetTargetDetailsList);
    //                },
    //                (response) => {
    //                    alert(response.status);
    //                }
    //            ).catch(function (response) {
    //                alert(response);
    //            });
    //        }
    //    }
    //});
</script>
