
@{
    ViewBag.Title = "Goal";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>目标管理</title>
</head>
<body>
    <h6>您当前的位置:目标管理</h6>
    <div class="content_left">

    </div>
    <div class="content_right">

    </div>
</body>
</html>

