
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/layer/2.4/layer.js"></script>
  
</head>
<body>
    <div class="content goal">
        <ul>
            <li><button>我的待办</button></li>
            <li><button>我的已办</button></li>
            <li><button>我的待阅</button></li>
            <li id="more"><a href="#">More>></a></li>
            <div class="clearboth"></div>
        </ul>
        <iframe src="/DongXu/Backlog"></iframe>
    </div>
    <div class="content integral">
        <h4>积分排名</h4>
        <div class="cot"></div>
    </div>
    <div class="content ight">
        <h4>红绿灯状态</h4>
        <div class="cot"></div>
    </div>
    <div class="content run">
        <h4>运行情况</h4>
        <div class="cot"></div>
    </div>
    <div class="content percentage">
        <h4>目标完成率</h4>
        <div class="cot"></div>
    </div>
    <div class="content run">
        <h4>投入产出比排名</h4>
        <div class="cot"></div>
    </div>
    <div class="content main">
        <h4>主责事项</h4>
        <div class="cot"></div>
    </div>
</body>
</html>

