@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/css/permission.css" rel="stylesheet" />
    <script src="~/Scripts/layer/2.4/layer.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script>
        $(function () {
            $("#update").click(function () {
                $.ajax({
                    url: "http://localhost:8098/DongXu/UpdatePerMission",
                    type: "post",
                    data: {
                        PerMissionID: $("input[name=PerMissionID]").val(),
                        PerMissionName: $("input[name=PerMissionName]").val(),
                        EstablishTime: $("input[name=EstablishTime]").val(),
                        UpTime: $("input[name=UpTime]").val(),
                    },
                    success: function (data) {
                        if (data > 0) {
                            alert("修改成功");
                            location.href = "/DongXu/Permission";
                        }
                    }
                })
            })
        })
        function ModalWindow() {
           
            layer.open({
                type: 1,
                area: ['600px', '400px'],
                fix: false, //不固定
                maxmin: true,
                shade: 0.7,
                title: '修改权限',
                content: $("#model")
            });
        }
    </script>
    <title>授权管理</title>
</head>
<body>
    <h6>您当前的位置:系统管理>>授权管理</h6>
    <div class="content_top">
        <h5>添加权限</h5>
        <div id="box">
            <span>权限名称:</span>
            <input class="PerMissionName" v-model="PerMissionName" type="text" />
            <span>创建时间:</span>
            <input class="EstablishTime" v-model="EstablishTime" type="date" />
            <span>修改时间:</span>
            <input class="UpTime" type="date" v-model="UpTime" />
            <input type="button" name="name" class="layui-btn layui-btn-warm" id="search" value="查询" />
            <input type="button" name="name" class="layui-btn layui-btn-danger" id="add" value="新增" v-on:click="AddPerMission(PerMissionName,PerMissionName,UpTime)" />
        </div>
    </div>
    <div class="content_bottom">
        <h5>授权管理</h5>
        <table class="layui-table" v-show="permissionList.length">
            <tr>
                <th>Id</th>
                <th>权限名称</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
            <tr v-for="(item,index) in permissionList">
                <td>{{item.PerMissionID}}</td>
                <td>{{item.PerMissionName}}</td>
                <td>{{item.EstablishTime.substring(0,10)}}</td>
                <td>{{item.UpTime.substring(0,10)}}</td>
                <td>
                    <div v-if="item.PerMissionID!=''">
                        <a href="#" onclick="ModalWindow()" v-on:click="GetPermissionId(item.PerMissionID)" >修改</a>
                        <a href="#" v-on:click="DeletePerMission(item.PerMissionID)">删除</a>
                    </div>

                </td>
            </tr>
        </table>
    </div>
    <form action="/" method="post" id="form1">
        <table id="model" style="display:none;" class="layui-table">
            <tr>
                <td>Id</td>
                <td><input type="text" name="PerMissionID" disabled="disabled" v-model="PerMissionID"/></td>
            </tr>
            <tr>
                <td>权限名称</td>
                <td><input type="text" name="PerMissionName" v-model="PerMissionName"/></td>
            </tr>
            <tr>
                <td>创建时间</td>
                <td><input type="text" name="EstablishTime" v-model="EstablishTime"/></td>
            </tr>
            <tr>
                <td>修改时间</td>
                <td><input type="text" name="UpTime" v-model="UpTime"/></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" id="update" v-on:click="UpdatePerMission(PerMissionID,PerMissionName,EstablishTime,UpTime)"  value="修改" />
                    <input type="button" id="cancle" value="返回" />
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
        var ve = new Vue({
            el: ".content_bottom",
            data: {
                permissionList: []
            },
            mounted() {
                this.GetPerMissions();
            },
            methods: {
                GetPermissionId: function (data) {
                    axios({
                        method: 'get',
                        url: 'http://localhost:8098/DongXu/GetPerMissionById?id=' + data
                    }).then(function (resp) {
                        console.log(resp.data);
                        $("input[name=PerMissionName]").val(resp.data.PerMissionName);
                        $("input[name=PerMissionID]").val(resp.data.PerMissionID);
                        $("input[name=EstablishTime]").val(resp.data.EstablishTime);
                        $("input[name=UpTime]").val(resp.data.UpTime);
                    }).catch(resp => {
                        console.log('请求失败：' + resp.status + ',' + resp.statusText);
                    });
                },
                //加载权限信息
                GetPerMissions: function () {
                    axios.get('http://localhost:8098/DongXu/GetPerMissions').then(
                        (response) => {
                            this.permissionList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.permissionList.push(response.data[i]);
                            }
                            console.log(this.permissionList);
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                DeletePerMission: function (id) {
                    axios.post('http://localhost:8098/DongXu/DeletePerMission?id=' + id).then(
                        (response) => {

                            if (response.data > 0) {
                                var msg = confirm("确定要删除吗？")
                                if (msg == true) {
                                    alert("删除成功!");
                                    this.GetPerMissions();
                                }
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                UpdatePerMission: function (PerMissionName, EstablishTime, UpTime, PerMissionID) {
                    var params = new URLSearchParams();
                    params.append("PerMissionName", PerMissionName);
                    params.append("EstablishTime", EstablishTime);
                    params.append("UpTime", UpTime);
                    params.append("PerMissionID", PerMissionID);
                    axios.post('http://localhost:8098/DongXu/UpdatePerMission', params).then(
                        (response) => {
                            alert("修改成功")
                            this.GetPerMissions()
                        },
                        (response) => {
                            alert(response.status)
                        }
                    ).catch(function () {
                        alert(response)
                    });
                }
            }
        });
        var ve2 = new Vue({
            el: ".content_top",
            data: {
                PerMissionName: "",
                EstablishTime: "",
                UpTime: ""
            },
            mounted() {

            },
            methods: {
                //加载权限信息
                AddPerMission: function (PerMissionName, EstablishTime, UpTime) {
                    var params = new URLSearchParams();
                    params.append("PerMissionName", PerMissionName);
                    params.append("EstablishTime", PerMissionName);
                    params.append("UpTime", UpTime);
                    axios.post('http://localhost:8098/DongXu/AddPerMission', params).then(
                        (response) => {
                            ve.GetPerMissions()
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function () {
                        alert(response);
                    });
                }
            }
        });
        //var ve3 = new Vue({
        //    el: "#model",
        //    data: {
        //        PerMissionID: $("input[name=PerMissionID]").val(),
        //        PerMissionName: $("input[name=PerMissionName]").val(),
        //        EstablishTime: $("input[name=PerMissionName]").val(),
        //        UpTime: $("input[name=PerMissionName]").val()
        //    },
        //    mounted() {

        //    },
        //    methods: {
        //        //修改权限信息
          
        //        UpdatePerMission: function (PerMissionName, EstablishTime, UpTime, PerMissionID) {
        //            var params = new URLSearchParams();
        //            params.append("PerMissionName", PerMissionName);
        //            params.append("EstablishTime", EstablishTime);
        //            params.append("UpTime", UpTime);
        //            params.append("PerMissionID", PerMissionID);
        //            axios.post('http://localhost:8098/DongXu/UpdatePerMission', params).then(
        //                (response) => {
        //                    alert("修改成功")
        //                    ve.GetPerMissions()
        //                },
        //                (response) => {
        //                    alert(response.status)
        //                }
        //            ).catch(function () {
        //                alert(response)
        //            });
        //        }
        //    }
        //})
    </script>
</body>
</html>
