
@{
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>子目标管理</title>
    <link href="~/Content/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <link href="~/metroStyle/metroStyle.css" rel="stylesheet" />
    <link href="~/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    @*<link href="~/demo.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery.ztree.core.js"></script>
   
    <script>
        $(function () {

        })
        function Add() {
            $.ajax({
                url: "http://localhost:8098/DongXu/AddTargetDetails",
                type: "post",
                data: $("#form1").serialize(),
                success: function (data) {
                    if (data > 0) {
                        alert("添加成功！");
                    }
                    else {
                        alert("添加失败！");
                    }
                }
            })
        }
    </script>
</head>
<body>
    <h6>您当前的位置:目标管理>>子目标管理</h6>
    <form id="form1">
        <table class="table " style="margin-left:100px;">
            <tr>
                <td style="font-size:x-large"> 目标详情</td>
            </tr>
            <tr>
                <td>
                    指标名称
                </td>
                <td>
                    <input type="text" name="name">
                </td>
                <td>
                    主指标
                </td>
                <td></td>
            </tr>
        </table>
        <table class="table " style="margin-left:100px;" id="Tab">
            <tr>

                <td>
                    <input type="text" name="targettypename"/>
                </td>

            <tr>
                <td>
                    指标等级
                </td>
                <td>
                    <input type="text" name="IndexLevelId"/>
                </td>
            <tr>
                <td>
                    反馈频次
                </td>
                <td>
                    <input type="text" name="FeedbackName" />
                </td>

            </tr>
            <tr>
                <td>
                    开始时间
                </td>
                <td>
                    <input type="text" name="StartTime" />
                </td>
                <td>
                    完成时间
                </td>
                <td>
                    <input type="text" name="FinishTime" />
                </td>
                <td>
                    责任人
                </td>
                <td>
                    <input type="text" name=" DutyMan" />
                </td>
            </tr>
            <tr>
                <td>
                    考核权重
                </td>
                <td>
                    <input type="text" name="AssessmentWeight" />
                </td>
                <td>
                    填报人
                </td>
                <td>
                    <input name="ReportedMan" type="text" />
                </td>
                <td>
                    协办方
                </td>
                <td>
                    <input type="text" name="Organizer" />
                </td>
            </tr>
            <tr>
                <td>
                    备注
                </td>
                <td>
                    <input type="text" name="Remark" />
                </td>
            </tr>
            <tr>
                <td>
                    年度目标
                </td>
                <td>
                    <input type="text" name="AnnualTarget"  />
                </td>
            </tr>
            <tr>
                <td>
                    确认流程
                </td>
                <td>
                    <input type="text" name="Affirmflow" height="50" width="100"/>
                </td>
            </tr>
            <tr>
                <td><input type="button" value="保存" onclick="Add()" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
