
@{
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>子目标管理</title>
    <link href="~/Content/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <link href="~/metroStyle/metroStyle.css" rel="stylesheet" />
    <link href="~/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    @*<link href="~/demo.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery.ztree.core.js"></script>
    <script src="~/Scripts/MessageBox.js"></script>
    <link href="~/Scripts/layer/2.4/skin/layer.css" rel="stylesheet" />
    <script>
        $(function () {
            GetNum();
            Getbloc();
            GetType();
        })
        function Add() {
            $.ajax({
                url: "http://localhost:8098/DongXu/AddTargetDetails",
                type: "post",
                data: $("#form1").serialize(),
                success: function (data) {
                    if (data > 0) {
                        AddTarget();
                   
                    }
                    else {
                       
                    }
                }
            })
        }
        function GetNum() {
            $.ajax({
                url: 'http://localhost:8098/Dongxu/GetNum',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#s2").append("<option value='"+data.Id+"'>" + data.FeedbackName + "</option>")
                    })
                }
            })
        }
        function Getbloc() {
            $.ajax({
                url: 'http://localhost:8098/Bloc/GetBloc',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#b1").append("<option  value='" + data.id +"'>" + data.name + "</option>")
                    })
                }
            })
        }
        function GetType() {
            $.ajax(
                {
                    url: 'http://localhost:8098/DongXu/GetTarGetTypes',
                    type: 'get',
                    success: function (data) {
                        $(data).each(function (index, data) {
                            $("#t1").append("<option  value='" + data.TarGetTypeID + "'>" + data.TarGetTypeName + "</option>")
                        })
                    }
                })
        }
        function AddTarget() {
            $.ajax({
                url: "http://localhost:8098/DongXu/AddTarget1",
                type: "post",
                data: $("#form2").serialize(),
                success: function (data) {
                    if (data > 0) {
                        showmessagebox(true, "添加成功");
                    }
                    else {
                        showmessagebox(false, "添加失败咯");
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div class="messageBox"></div>
    <h6>您当前的位置:目标管理>>子目标管理</h6>
    <form id="form2">

        
        <table class="table " style="margin-left:100px;">
     
            <tr>
                <td style="font-size:x-large"> 目标详情</td>
            </tr>
            <tr>
                <td>
                    指标名称:
                </td>
                <td>
                    <input type="text" name="name">
                </td>
                <td>
                    主指标:
                </td>
                <td>2019年集团经营目标</td>
            </tr>
        </table>
    </form>
    <form id="form1">
        <table class="table " style="margin-left:100px;" id="Tab">
            <tr>

                @*<td>
                        <input type="text" name="indextypeid" />
                    </td>*@

            <tr>
                <td>
                    指标类别:
                </td>
                <td>
                    <select type="text" name="TarGetTypeID" id="t1">
                        <option value="0">请选择</option>
                    </select>
                </td>
            <tr>
                <td>
                    反馈频次:
                </td>
                <td>
                    <select name="feedbacknumid" id="s2">
                        <option value=" ">清选择</option>

                    </select>
                </td>

            </tr>
            <tr>
                <td>
                    指标等级:
                </td>
                <td>
                    <select name="IndexLevelId">
                        <option value=" ">请选择</option>
                        <option value="A">A</option>
                        <option value="AA">AA</option>
                        <option value="AAA">AAA</option>
                    </select>
                </td>
                <td>
                    所属部门:
                </td>
                <td>
                    <select name="blocId" id="b1">
                        <option value=" 0">请选择</option>
                    </select>
                </td>

                <td>
                    开始时间:
                </td>
                <td>
                    <input type="datetime" name=" starttime" />
                </td>
            </tr>
            <tr>
                <td>
                    完成时间:
                </td>
                <td>
                    <input type="datetime" name="finishtime" />
                </td>
                <td>
                    负责人:
                </td>
                <td>
                    <input name="dutyman" type="text" />
                </td>
                <td>
                    考核权重:
                </td>
                <td>
                    <input type="text" name="assessmentweight" />
                </td>
            </tr>
            <tr>
                <td>
                    填报人:
                </td>
                <td>
                    <input type="text" name="reportedman" />
                </td>
            </tr>
            <tr>
                <td>
                    协办方:
                </td>
                <td>
                    <input type="text" name="organizer" />
                </td>
            </tr>
            <tr>
                <td>
                    备注:
                </td>
                <td>
                    <input type="text" name="remark" style="height:50px" />
                </td>
            </tr>
            <tr>
                <td>
                    确认流程:
                </td>
                <td>
                    <input type="text" name="affirmflow" style="height:70px" />
                </td>
            </tr>
            <tr>
                <td>
                    年度目标(%):
                </td>
                <td>
                    <input type="text" name="annualtarget" />
                </td>
            </tr>

        </table>
        <div>
            <input type="button" value="保存" onclick="Add()" style="margin-top:70px;margin-left:800px;width:50px;height:25px" />
        </div>
    </form>
</body>
</html>
