
@{
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>目标管理查询</title>
    <link href="~/Content/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <link href="~/metroStyle/metroStyle.css" rel="stylesheet" />
    <link href="~/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="~/Scripts/MessageBox.js"></script>
    @*<link href="~/demo.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery.ztree.core.js"></script>
    <style>
        .messageBox {
            height: 52px;
            padding: 0 53px 0 78px;
            line-height: 52px;
            background: url(../../image/img-set1.png) -441px -613px #ffffe7 no-repeat;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            position: fixed;
            top: -60px;
            left: 50%;
            border: 5px solid #ddd;
            border-top: 0;
            color: #444;
            font-size: 18px;
            z-index: 9999;
        }

        .messageError {
            background-position: -441px -673px;
        }

        #tabb {
            width: 96%;
            margin: 0 30px;
            border: 1px solid #ccc;
        }

        .ztree * {
            /*color: blue;*/
            font-size: 10pt;
            font-family: "Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial
        }

        .ztree li {
            line-height: 20px;
        }

            .ztree li a {
                width: 200px;
                height: 30px;
                padding-top: 0px;
            }

                .ztree li a:hover {
                    text-decoration: none;
                    background-color: #E7E7E7;
                }

                .ztree li a span.button.switch {
                    visibility: hidden
                }

                .ztree li a.curSelectedNode {
                    background-color: #D4D4D4;
                    border: 0;
                    height: 30px;
                }

        * {
            padding: 0;
            margin: 0;
        }

        h6 {
            padding: 0 30px;
            font-size: 12px;
            height: 24px;
            line-height: 24px;
            border: 1px solid #ccc;
        }


        #tree {
            padding: 0 30px;
            width: 240px;
            float: left;
            border: 1px solid #ccc;
        }

        #tab {
            float: left;
            margin-left: 20px;
        }

            #tab table {
                border: 1px solid #ccc;
            }

        #s1 {
            float: left;
            margin-top: 10px;
            margin-left: 50px;
        }

        #s2 {
            float: right;
        }
    </style>

    <script>
        $(function () {
            GetNum();
            GetType();
            Getbloc();
            GetTae();
        })
        //页头下拉提示框
        function GetTae() {
            $.ajax({
                url: 'http://localhost:8098/Dongxu/GetTargets',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#z1").append("<option value='" + data.id + "'>" + data.name + "</option>")
                    })
                }
            })
        }
        function GetNum() {
            $.ajax({
                url: 'http://localhost:8098/Dongxu/GetNum',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#s2").append("<option value='" + data.Id + "'>" + data.FeedbackName + "</option>")
                    })
                }
            })
        }
        function Getbloc() {
            $.ajax({
                url: 'http://localhost:8098/Bloc/GetBloc',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#b1").append("<option  value='" + data.id + "'>" + data.name + "</option>")
                    })
                }
            })
        }
        function GetType() {
            $.ajax(
                {
                    url: 'http://localhost:8098/DongXu/GetTarGetTypes',
                    type: 'get',
                    success: function (data) {
                        $(data).each(function (index, data) {
                            $("#t1").append("<option  value='" + data.TarGetTypeID + "'>" + data.TarGetTypeName + "</option>")
                        })
                    }
                })
        }
        function abc() {
            //Show();
            layer.open({
                type: 1,
                area: ['1200px', '700px'],


                fix: false, //不固定
                maxmin: true,
                shade: 0.1,

                title: '指标详情',
                content: $('#aaa')

            });

        }
       
        function addtar() 
          
                {
                    $.ajax({
                        url: 'http://localhost:8098/DongXu/AddTargetDetails',
                        type: 'post',
                        data: {
                            TargetId: $("select[name=TargetId]").val(),
                           IndexTypeId: $("select[name=IndexTypeId]").val(),
                            FeedbackNumId: $("select[name=FeedbackNumId]").val(),
                            IndexLevelId: $("select[name=IndexLevelId]").val(),
                            BlocId: $("select[name=BlocId]").val(),
                            StartTime: $("input[name=StartTime]").val(),
                            FinishTime: $("input[name=FinishTime]").val(),
                            DutyMan: $("input[name=DutyMan]").val(),
                            AssessmentWeight: $("input[name=AssessmentWeight]").val(),
                            ReportedMan: $("input[name=ReportedMan]").val(),
                            Organizer: $("input[name=Organizer]").val(),
                            AnnualTarget: $("input[name=AnnualTarget]").val(),
                            Remark: $("input[name=Remark]").val(),
                        },
                        success: function (data) {
                        
                            if (data > 0) {

                                showmessagebox(true, "添加成功");
                                // location.href = '/employee/Index';
                                setTimeout("window.location.href=''/employee/Index'", 1500);
                            }
                            else {
                                showmessagebox(false, "该用户已存在");
                            }

                        }
                    })
               
        }
        function zTreeOnClick(event, treeId, treeNode) {

            //console.log(treeNode);
            //console.log(treeNode.pId);
            console.log(treeNode.id)
            $("input[name=name]").val(treeNode.name);
            $("input[name=id]").val(treeNode.id);
            if (treeNode.pId == 0) {
                $("select[name=pId] option[value=0]").attr("selected", "selected");
            }
            else {
                $("select[name=pId] option[value=" + treeNode.pId + "]").attr("selected", "selected");
            }
            $.ajax(
                {
                    url: 'http://localhost:8098/DongXu/GetTargetDetailsById?Id=' + treeNode.id,
                    type: 'get',

                    success: function (data) {

                        $("#Tab").children().children().next().remove();
                        $(data).each(function (index, data) {

                            var str = ""

                            str += "<tr><td>指标类型:" + data.targettypename + "</td></tr>"
                            str += "<tr><td>指标等级:" + data.IndexLevelId + "</td></tr>"
                            str += "<tr></td>反馈频次:" + data.FeedbackName + "</td></tr>"
                            str += "<tr><td>开始时间:" + data.StartTime + "</td>"
                            str += "<td>完成时间:" + data.FinishTime + "</td>"
                            str += "<td>责任人:" + data.DutyMan + "</td></tr>"
                            str += "<tr><td>考核权重:" + data.AssessmentWeight + "</td>"
                            str += "<td>填报人:" + data.ReportedMan + "</td>"
                            str += "<td>协办方:" + data.Organizer + "</td></tr>"
                            str += "<tr><td>备注：" + data.Remark + "</td></tr>"
                            str += "<tr><td>年度目标：" + data.AnnualTarget + "</td></tr>"
                            str += "<tr><td>确认流程：" + data.Affirmflow + "</td></tr>"
                            str += "</tr>"

                            $("#Tab").append(str);
                            $("input[name=id]").val(data.Id);
                            
                        })

                    }

                })

        }
        function Add() {
            $.ajax({
                url: "http://localhost:8098/DongXu/AddTarget1",

                type: "post",
                data: $("#form1").serialize(),
                success: function (data) {
                    if (data > 0) {
                      
                        showmessagebox(true,"添加成功")
                    }
                    else {
                        showmessagebox(false,"添加失败")
                    }
                }
            })
        }
        function loc() {


            layer.open({
                type: 1,
                area: ['700px', '500px'],


                fix: false, //不固定
                maxmin: true,
                shade: 0.7,

                title: '添加子目标',
                content: $('#AddUser')
            });

        }
        var setting = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pId",
                    rootPId: 0
                }
            },
            callback: {
                onClick: zTreeOnClick
            }
        };
        var zNodes = [];

        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:8098/DongXu/GetTargets",
                success: function (data) {
                    console.log(data);
                    zNodes = data;
                    zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes); //初始化zTree，三个参数一次分别是容器(zTree 的容器 className 别忘了设置为 "ztree")、参数配置、数据源
                }

            });

        });

        function addDiyDom(treeId, treeNode) {
            var spaceWidth = 5;
            var switchObj = $("#" + treeNode.tId + "_switch"),
                icoObj = $("#" + treeNode.tId + "_ico");
            switchObj.remove();
            icoObj.before(switchObj);
            if (treeNode.level > 1) {
                var spaceStr = "<span style='display: inline-block;width:" + (spaceWidth * treeNode.level) + "px'></span>";
                switchObj.before(spaceStr);
            }
        }
        //var s=
        function Del() {


            $.ajax({
                url: 'http://localhost:8098/DongXu/DeleteTarget?id=' + $("input[name=id]").val(),
                type: 'get',

                success: function (data) {
                    if (data > 0) {
                        showmessagebox(true, "删除成功")
                        setTimeout("window.location.href='/Target/Index'", 1500);
                        //$(".messageBox").removeClass("messageError").text("删除成功").css("margin-left", -($(".messageBox").outerWidth() / 2)).animate({ top: 0 }, "fast").delay(1500).animate({ top: "-57px" }, "fast");
                        //location.href = "/Target/Index";



                    }
                    else {
                        showmessagebox(false, "删除失败")

                    }
                }
            })
        }
       
    </script>
</head>
<body>
    <div class="messageBox"></div>
    <div id="AddUser" style="display:none">
        <form id="form1">
            <input id="targetid" type="hidden" name="id" />
            <table class="table ">

                <tr>
                    <td>
                        指标名称:
                    </td>
                    <td>
                        <input type="text" name="name">
                    </td>
                    <td>
                        主指标:
                    </td>
                    <td>2019年集团经营目标</td>
                <tr>
                    <td>
                        <input type="button" onclick="Add()" value="添加" />
                    </td>
                    <td>
                        <input type="button" onclick="Update()" value="修改" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <h6>您当前的位置:目标管理>>目标管理查询</h6>
    <div>
        <input type="hidden" name="id" />
        <div id="tree">
            <div style="background-color:#ccc;padding:0px 15px;height:50px;width:230px;line-height:30px;">
                <span id="s1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目标名称</span>
                <input type="button" id="AddBtn" value="添加子目标" style="margin-top:460px;background-color:white;color:black;height: 30px; border-color: black; border-width: 1px" onclick="loc()" />
                <div style="clear:both;"></div>
            </div>
            <ul id="treeDemo" class="ztree" style="height:500px;border:1px solid #ffffff;float:left; background-color:#f7f7f7"></ul>
        </div>
        <div id="tab" style="width:1000px;height:100%">
            <table class="table " style="margin-left:100px;">
                <tr>
                    <td style="font-size:x-large"> 目标详情</td>
                </tr>
                <tr>
                    <td>
                        指标名称
                    </td>
                    <td>
                        <input type="text" name="name" style="border:none">
                    </td>
                    <td>
                        主指标
                    </td>
                    <td>
                        2019年集团经营目标
                    </td>
                </tr>
            </table>

            <table class="table " style="margin-left:100px;" id="Tab">
                <tr>

                    <td>
                        <input type="text" name="targettypename" style="border:none" />
                    </td>

                <tr>
                    <td>
                        指标等级
                    </td>
                    <td>
                        <input type="text" name="IndexLevelId" style="border:none" />
                    </td>
                <tr>
                    <td>
                        反馈频次
                    </td>
                    <td>
                        <input type="text" name="FeedbackName" style="border:none" />
                    </td>

                </tr>
                <tr>
                    <td>
                        开始时间
                    </td>
                    <td>
                        <input type="text" name="StartTime" style="border:none" />
                    </td>
                    <td>
                        完成时间
                    </td>
                    <td>
                        <input type="text" name="FinishTime" style="border:none" />
                    </td>
                    <td>
                        责任人
                    </td>
                    <td>
                        <input type="text" name=" DutyMan" style="border:none" />
                    </td>
                </tr>
                <tr>
                    <td>
                        考核权重
                    </td>
                    <td>
                        <input type="text" name="AssessmentWeight" style="border:none" />
                    </td>
                    <td>
                        填报人
                    </td>
                    <td>
                        <input name="ReportedMan" type="text" style="border:none" />
                    </td>
                    <td>
                        协办方
                    </td>
                    <td>
                        <input type="text" name="Organizer" style="border:none" />
                    </td>
                </tr>
                <tr>
                    <td>
                        备注
                    </td>
                    <td>
                        <input type="text" name="Remark" style="border:none" />
                    </td>
                </tr>
                <tr>
                    <td>
                        年度目标
                    </td>
                    <td>
                        <input type="text" name="AnnualTarget" style="border:none" />
                    </td>
                </tr>
              
            </table>
        </div>
        <div>
            <input type="button" value="指标删除" onclick="Del()" style="margin-top:460px;background-color:white;color:black;height: 30px; border-color: black; border-width: 1px" />
            <input type="button" value="指标添加" onclick="abc()" style="margin-top:460px;background-color:white;color:black;height: 30px; border-color: black; border-width: 1px" />
        </div>
        <div style="clear:both;"></div>

    </div>
    <div id="aaa" style="display:none">

        <form id="form1">
            <table class="table " style="margin-left:100px;" id="zz">
              

                <tr>
                    <td>
                        指标类别:
                    </td>
                    <td>
                        <select type="text" name="IndexTypeId" id="t1">
                            <option>请选择</option>
                        </select>
                    </td>
                    <td>
                        所属目标
                    </td>
                    <td>
                    <select type="text" name="TargetId" id="z1">
                        <option>请选择</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        反馈频次:
                    </td>
                    <td>
                        <select name="FeedbackNumId" id="s2">
                            <option>清选择</option>

                        </select>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        指标等级:
                    </td>
                    <td>
                        <select name="IndexLevelId">
                            <option value="">请选择</option>
                            <option value="A">A</option>
                            <option value="AA">AA</option>
                            <option value="AAA">AAA</option>
                        </select>
                    </td>
                    <td>
                        所属部门:
                    </td>
                    <td>
                        <select name="BlocId" id="b1">
                            <option>请选择</option>
                        </select>
                    </td>

                    <td>
                        开始时间:
                    </td>
                    <td>
                        <input type="datetime" name="StartTime" />
                    </td>
                </tr>
                <tr>
                    <td>
                        完成时间:
                    </td>
                    <td>
                        <input type="datetime" name="FinishTime" />
                    </td>
                    <td>
                        负责人:
                    </td>
                    <td>
                        <input name="DutyMan" type="text" />
                    </td>
                    <td>
                        考核权重:
                    </td>
                    <td>
                        <input type="text" name="AssessmentWeight" />
                    </td>
                </tr>
                <tr>
                    <td>
                        填报人:
                    </td>
                    <td>
                        <input type="text" name="ReportedMan" />
                    </td>
                </tr>
                <tr>
                    <td>
                        协办方:
                    </td>
                    <td>
                        <input type="text" name="Organizer" />
                    </td>
                </tr>
                <tr>
                    <td>
                        备注:
                    </td>
                    <td>
                        <input type="text" name="Remark" style="height:50px" />
                    </td>
                </tr>
              
                <tr>
                    <td>
                        年度目标(%):
                    </td>
                    <td>
                        <input type="text" name="AnnualTarget" />
                    </td>
                </tr>

            </table>
            <div>
                <input type="button" value="保存" onclick="addtar()" style="margin-top:70px;margin-left:800px;width:50px;height:25px" />
            </div>
        </form>
    </div>
</body>
</html>
