
@{
    ViewBag.Title = "integral";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/css/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/layer/2.4/layer.js"></script>

    <script src="~/echarts.js"></script>
    <script>
        $(function () {
            Show();
            Show1();
            Show2();
        })
        function Show() {
            $.ajax({
                url: 'http://localhost:8098/State/GetStates',
                type: 'get',
                success: function (data) {
                    //$("#tab").children().children().remove();
                    $(data).each(function (index, data) {
                        var str = "<tr>";
                        str += "<td>" + data.StateID + "</td>";
                        str += "<td>" + data.StateName + "</td>";
                        str += "<td>" + data.StateGrenn + "</td>";
                        str += "<td>" + data.StateYellow + "</td>";
                        str += "<td>" + data.StateRed + "</td>";
                        str += "<td>" + data.StateFen + "</td>";
                        str += "</tr>";
                        $("#tab").append(str);

                    })

                }
            })
        }

        function Show1() {
            $.ajax({
                url: 'http://localhost:8098/State/States',
                type: 'get',
                success: function (data) {
                    $(data).each(function (index, data) {
                        var str = "<tr>";
                        str += "<td>" + data.StateID + "</td>";
                        str += "<td>" + data.StateName + "</td>";
                        str += "<td>" + data.StateGrenn + "</td>";
                        str += "<td>" + data.StateYellow + "</td>";
                        str += "<td>" + data.StateRed + "</td>";
                        str += "<td>" + data.StateFen + "</td>";
                        str += "</tr>";
                        $("#tab1").append(str);

                    })

                }
            })
        }


        function Show2() {
            $.ajax({
                url: 'http://localhost:8098/State/State',
                type: 'get',
                success: function (data) {
                    //$("#tab").children().children().remove();
                    $(data).each(function (index, data) {
                        var str = "<tr>";
                        str += "<td>" + data.StateID + "</td>";
                        str += "<td>" + data.StateName + "</td>";
                        str += "<td>" + data.StateGrenn + "</td>";
                        str += "<td>" + data.StateYellow + "</td>";
                        str += "<td>" + data.StateRed + "</td>";
                        str += "<td>" + data.StateFen + "</td>";
                        str += "</tr>";
                        $("#tab2").append(str);

                    })

                }
            })
        }
    </script>

</head>
<body>
    <div class="content integral">
        <h4>积分排名</h4>
        @*<div class="cot"></div>*@
        <div id="main" style="width: 600px;height:400px; border:1px solid red; ">
            <script type="text/javascript">
                var Names = [];
                var Nums = [];
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));
                $(function () {
                    loadData();
                })
                function loadData() {
                    $.ajax({
                        url: "http://localhost:8098/Integral/GetIntegral",
                        type: "get",
                        success: function (data) {
                            console.log(data);
                            for (var i = 0; i < data.length; i++) {
                                Names[i] = data[i].name;
                                Nums[i] = data[i].IntegralNum;
                            }
                            // 指定图表的配置项和数据
                            var option = {
                                color: ['#ff7d27',],
                                //color: ['#47b73d',  ],
                                title: {
                                    text: '积分排名'
                                },
                                tooltip: {},
                                legend: {
                                    data: ['积分']
                                },
                                xAxis: {
                                    data: Names
                                },
                                yAxis: {},
                                series: [{
                                    name: '积分',
                                    type: 'bar',
                                    data: Nums
                                }]
                            };
                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);
                        }
                    });
                }
            </script>
        </div>
    </div>
    <div>
        <table id="tab" class="layui-table">
            <tr>
                <td rowspan="2">排名</td>
                <td rowspan="2">部门名称</td>
                <td colspan="4" style="text-align:center">AAA</td>

                @*<td colspan="4">AA</td>

                <td colspan="4">A</td>*@
               
            </tr>
            <tr>
                <td style="display:none">AA</td>
                <td style="display:none">AA</td>
                <td style="text-align:center"><img src="~/image/green.png" alt="绿灯" /></td>
                <td style="text-align:center"><img src="~/image/yellow.png" alt="黄灯" /></td>
                <td style="text-align:center"><img src="~/image/red.png" alt="红灯" /></td>
                <td>积分</td>
                @*<td>绿</td>
        <td>黄</td>
        <td>红</td>
        <td>积分</td>
        <td>绿</td>
        <td>黄</td>
        <td>红</td>
        <td>积分</td>*@

            </tr>
        </table>
        <table id="tab1" class="layui-table">
            <tr>
                <td rowspan="2">排名</td>
                <td rowspan="2">部门名称</td>
                <td colspan="4" style="text-align:center">AA</td>

                @*<td colspan="4">AA</td>

            <td colspan="4">A</td>*@

            </tr>
            <tr>
                <td style="display:none">AA</td>
                <td style="display:none">AA</td>
                <td style="text-align:center"><img src="~/image/green.png" alt="绿灯" /></td>
                <td style="text-align:center"><img src="~/image/yellow.png" alt="黄灯" /></td>
                <td style="text-align:center"><img src="~/image/red.png" alt="红灯" /></td>
                <td>积分</td>
                @*<td>绿</td>
        <td>黄</td>
        <td>红</td>
        <td>积分</td>
        <td>绿</td>
        <td>黄</td>
        <td>红</td>
        <td>积分</td>*@
            </tr>
        </table>
        <table id="tab2" class="layui-table">
            <tr>
                <td rowspan="2">排名</td>
                <td rowspan="2">部门名称</td>
                <td colspan="4" style="text-align:center">A</td>

                @*<td colspan="4">AA</td>

            <td colspan="4">A</td>*@

            </tr>
            <tr>
                <td style="display:none">AA</td>
                <td style="display:none">AA</td>
                <td style="text-align:center"><img src="~/image/green.png" alt="绿灯"/></td>
                <td style="text-align:center"><img src="~/image/yellow.png" alt="黄灯" /></td>
                <td style="text-align:center"><img src="~/image/red.png" alt="红灯"/></td>
                <td>积分</td>
                @*<td>绿</td>
            <td>黄</td>
            <td>红</td>
            <td>积分</td>
            <td>绿</td>
            <td>黄</td>
            <td>红</td>
            <td>积分</td>*@
            </tr>
        </table>
    </div>
</body>
</html>

