
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div>
        <h3>Vue.js添加页面</h3>
    </div>
    <div id="add">
        <table class="table table-hover">
            <tr>
                <td>角色名称: </td>
                <td><input type="text" v-model="RoleName" /></td>
            </tr>
            <tr>
                <td>角色描述:</td>
                <td><input type="text" v-model="RoleDescribe" /></td>
            </tr>
            <tr>
                <td><a href="javascript:;" v-on:click="AddQCPlan1(RoleName,RoleDescribe)">添加</a></td>
                <td><a href="#" onclick="location.href='Index'">显示</a></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#add",
        data: {           
            //Target: [],
            RoleName: "",
            RoleDescribe:""
        },
        mounted() {
            //this.AddQCPlan1();
        },
        methods:
        {
            //保存
            AddQCPlan1: function (RoleName, RoleDescribe) {
                console.log(1);
                var params = new URLSearchParams();
                params.append('RoleName', RoleName);
                params.append('RoleDescribe', RoleDescribe);
                axios.post('http://localhost:8098/Role/AddRoles', params).then(
                    (response) => {
                        alert(response)

                        alert("添加成功")
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },

        },
        computed: {
        }

    });
</script>
